name: CI

on:
  pull_request:
  push:
    branches-ignore:
      - gh-pages
    tags-ignore:
      - v*.*.*

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Scala
        uses: japgolly/setup-everything-scala@v3.1
        with:
          java-version: adopt@1.8

      - name: CI
        run: >-
          sbt
          -DCI=1
          clean test
